extends layout

block content
  h1= "Fan Control"
  form(method='post', action='fanStateOff')
    button(type='submit', class=fanState == 0 ? 'button button_selected' : 'button') OFF
  form(method='post', action='fanStateLevel1')
    button(type='submit', class=fanState == 1 ? 'button button_selected' : 'button') I
  form(method='post', action='fanStateLevel2')
    button(type='submit', class=fanState == 2 ? 'button button_selected' : 'button') II
  form(method='post', action='fanStateLevel3')
    button(type='submit', class=fanState == 3 ? 'button button_selected' : 'button') III
  form(method='post', action='fanStateZwiftSim')
    button(type='submit', class=fanState == 4 ? 'button button_selected' : 'button') Zwift-Simulation
  form(method='post', action='fanStateZwiftWrkt')
    button(type='submit', class=fanState == 5 ? 'button button_selected' : 'button') Zwift-Workout
  a(class='button', href='getFanLevel') Get Fan State
